.box {
  display: grid;
  place-content: center;
  color: rgb(228, 225, 225);
  text-shadow: 0 1px 0 #60a5fa;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #1b1818,
    #1b1818 5%,
    #1b1818 60%,
    #1b1818 95%
  );
  border: solid 5px transparent;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #60a5fa,
    #97c5fd 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s ease-in-out infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.box2 {
  display: grid;
  place-content: center;
  color: #fff1da;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #1e1d4c,
    #1e1d4c 5%,
    #1e1d4c 60%,
    #1e1d4c 95%
  );
  border: solid 5px transparent;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #60a5fa,
    #97c5fd 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s ease-in-out infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
