.box {
  display: grid;
  place-content: center;
  color: rgb(228, 225, 225);
  text-shadow: 0 1px 0 #9ad7d9;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    rgb(44, 42, 46),
    rgb(45, 45, 48) 5%,
    #353636 60%,
    #1b1818 95%
  );
  border: solid 5px transparent;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    rgb(77, 248, 240),
    rgb(0, 183, 255) 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s ease-in-out infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
